<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hello, JFrog!</title>
  <meta name="description" content="Hello, JFrog! • A-Frame">
</head>
<body>
<a-scene background="color: #FAFAFA">
  <a-entity camera="userHeight: 1.6" look-controls orbit-controls="target: 0 1.6 -0.5; minDistance: 0.5; maxDistance: 180; initialPosition: 0 5 15" cursor="rayOrigin: mouse"></a-entity>
  <a-image position="1 5 13" src="assets/img/jfrog-logo.png" animation="property: rotation; to: 0 360 0; dur: 7000; easing: linear; loop: true"></a-image>
  <a-image position="-1 5 13" src="assets/img/aws-logo.png" animation="property: rotation; to: 0 360 0; dur: 7000; easing: linear; loop: true"></a-image>
  <a-sky id="background-img" src="assets/img/cloud.png"></a-sky>
</a-scene>
</body>
</html>


